<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travelthree.daily.mapper.LeaveMapper">

    <resultMap id="BaseResultMap" type="com.travelthree.daily.domain.Leave">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="employeeId" column="employee_id" jdbcType="VARCHAR"/>
            <result property="startdate" column="startDate" jdbcType="DATE"/>
            <result property="enddate" column="endDate" jdbcType="DATE"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="typeId" column="type_id" jdbcType="TINYINT"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="auditorid" column="auditorId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,employee_id,startDate,
        endDate,status,type_id,
        reason,auditorId
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `leave`
        where  id = #{id,jdbcType=VARCHAR} 
    </select>
    <select id="selectAllByDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `leave`
        where startDate &lt;= #{time}
        and endDate &gt;= #{time}
    </select>
    <select id="queryLeave" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from  `leave`
        where
        status = #{status,jdbcType=TINYINT}
    </select>

    <select id="selectAllByEmployeeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `leave`
        where employee_id = #{employeeId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from `leave`
        where  id = #{id,jdbcType=VARCHAR} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.travelthree.daily.domain.Leave" useGeneratedKeys="true">
        insert into `leave`
        ( id,employee_id,startDate
        ,endDate,status,type_id
        ,reason,auditorId)
        values (#{id,jdbcType=VARCHAR},#{employeeId,jdbcType=VARCHAR},#{startdate,jdbcType=DATE}
        ,#{enddate,jdbcType=DATE},#{status,jdbcType=TINYINT},#{typeId,jdbcType=TINYINT}
        ,#{reason,jdbcType=VARCHAR},#{auditorid,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.travelthree.daily.domain.Leave" useGeneratedKeys="true">
        insert into `leave`
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="employeeId != null">employee_id,</if>
                <if test="startdate != null">startDate,</if>
                <if test="enddate != null">endDate,</if>
                <if test="status != null">status,</if>
                <if test="typeId != null">type_id,</if>
                <if test="reason != null">reason,</if>
                <if test="auditorid != null">auditorId,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=VARCHAR},</if>
                <if test="employeeId != null">#{employeeId,jdbcType=VARCHAR},</if>
                <if test="startdate != null">#{startdate,jdbcType=DATE},</if>
                <if test="enddate != null">#{enddate,jdbcType=DATE},</if>
                <if test="status != null">#{status,jdbcType=TINYINT},</if>
                <if test="typeId != null">#{typeId,jdbcType=TINYINT},</if>
                <if test="reason != null">#{reason,jdbcType=VARCHAR},</if>
                <if test="auditorid != null">#{auditorid,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.travelthree.daily.domain.Leave">
        update `leave`
        <set>
                <if test="employeeId != null">
                    employee_id = #{employeeId,jdbcType=VARCHAR},
                </if>
                <if test="startdate != null">
                    startDate = #{startdate,jdbcType=DATE},
                </if>
                <if test="enddate != null">
                    endDate = #{enddate,jdbcType=DATE},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=TINYINT},
                </if>
                <if test="typeId != null">
                    type_id = #{typeId,jdbcType=TINYINT},
                </if>
                <if test="reason != null">
                    reason = #{reason,jdbcType=VARCHAR},
                </if>
                <if test="auditorid != null">
                    auditorId = #{auditorid,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=VARCHAR} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.travelthree.daily.domain.Leave">
        update `leave`
        set 
            employee_id =  #{employeeId,jdbcType=VARCHAR},
            startDate =  #{startdate,jdbcType=DATE},
            endDate =  #{enddate,jdbcType=DATE},
            status =  #{status,jdbcType=TINYINT},
            type_id =  #{typeId,jdbcType=TINYINT},
            reason =  #{reason,jdbcType=VARCHAR},
            auditorId =  #{auditorid,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=VARCHAR} 
    </update>
    <select id="selectAllByStatusAndDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `leave`
        where
        status = #{status,jdbcType=NUMERIC}
        and startDate &lt;= #{time}
        and endDate &gt;= #{time}
    </select>
    <select id="selectByTypeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `leave`
        where
        type_id = #{typeId,jdbcType=NUMERIC}
    </select>
    <delete id="deleteByEmployeeId">
        delete
        from leave
        where employee_id = #{employeeId,jdbcType=VARCHAR}
    </delete>
</mapper>
